<!--LLamo a la plantilla cabecera-->
<%- include('plantillas/cabecera.ejs') %>
<body>
    <h1><%= title %></h1>
    <p>Aqui primeros pasos con motor de vistas EJS <%= title %></p>
  </body>
</html>


<!-- 
Indice:
  1-Interpolacion de variables: 
  ver el 1_router_aparte.js a donde se pasa una variable a la vista (este archivo)  (title)    

  2-Una plantilla en /vistas/plantillas/cabecera.ejs 

  3-Llamar a hojas de estilos desde una plantilla-->